<html>

<head>
    <meta charset='UTF-8' />
    <title>Espace personnel</title>
    <link rel='stylesheet' href='bootstrap.css'>
    <!---style>
        .bg-success {
            background-color: rgba(40, 199, 8, 0.833);
            color: white;
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
        }
    </style--->
</head>

<body class='bg-success border border-dark text-light'>
    <div class="d-flex flex-column align-items-center">
        <div class="w-75">
            <h2>On écoute quoi aujourd'hui?</h2>
            <p>Recherche:</p>
            <form class="example" action="/action_page.php">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="Artistes, Albums, Titres..." name="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light" type="button">Button</button>
                    </div>
                    <!--button type="submit"><i class="fa fa-search">GO</i></button--->
                </div>
            </form>
        </div>
    </div>
</body>
<!-- la source de ce ptit bouton 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_search_button
-->

</html>