<html>

<head>
    <meta charset='UTF-8' />
    <title>Espace personnel</title>
    <link rel='stylesheet' href='bootstrap.css'>
    <!---style>
        .bg-success {
            background-color: rgba(40, 199, 8, 0.833);
            color: white;
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
        }
    </style--->
</head>

<body class='bg-success border border-dark text-light'>
    <div class="d-flex flex-column align-items-center">
        <div class="w-75">
            <h2>On écoute quoi aujourd'hui?</h2>
            <p>Recherche:</p>
            <form class="example" method="post" action="/music_search">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" name="music_keyword"
                        placeholder="Artistes, Albums, Titres..." name="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light" type="submit">Go</button>
                    </div>
                    <!--button type="submit"><i class="fa fa-search">GO</i></button--->
                </div>
            </form>
            {%if results == True:%}
            <p>Resultat de la Recherche: </p>
            <p>{{msg}}</p>
            <p>{{ results }}</p>
            {%if tracks:%}
            <div class="text-light">
                <h1>Titres</h1>
                <table id="titres">
                    <tr>
                        <th>Chanson</th>
                        <th>Album</th>
                        <th>Artiste</th>
                    </tr>
                    {% for track in tracks %}
                    <tr>
                        <td> {{track[1]}} </td>
                        <td> {{track[3]}} </td>
                        <td> {{track[2]}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {%endif%}
            {%if artists:%}
            <div class="text-light">
                <h1>Artistes</h1>
                <table id="artistes">
                    <tr>
                        <th>Chanson</th>
                        <th>Album</th>
                        <th>Artiste</th>
                    </tr>
                    {% for artist in artists %}
                    <tr>
                        <td> {{artist[1]}} </td>
                        <td> {{artist[3]}} </td>
                        <td> {{artist[2]}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {%endif%}
            {%if albums:%}
            <div class="text-light">
                <h1>Albums</h1>
                <table id="album">
                    <tr>
                        <th>Chanson</th>
                        <th>Album</th>
                        <th>Artiste</th>
                    </tr>
                    {% for album in albums %}
                    <tr>
                        <td> {{album[1]}} </td>
                        <td> {{album[3]}} </td>
                        <td> {{album[2]}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {%else:%}
            <div class="text-light">
                <p>results : {{ msg }}:</p>
            </div>
            {% endif %}
            {%else:%}
            <p>{{msg}}</p>
            <p>{{ results }}</p>
            {% endif %}
        </div>
    </div>
</body>
<!-- la source de ce ptit bouton 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_search_button
-->

</html>