<html>

<head>
    <meta charset='UTF-8' />
    <title>Spotifree</title>
    <link rel='stylesheet' href='bootstrap.css'>
</head>

<body class='bg-success text-light'>
    <div class="d-flex flex-column align-items-center">
        <div class="w-50">
            <h1>My spotifriends!</h1>
            <img src="images/image.png" alt="friends" class="img-thumbnail">
        </div>
        <div class="w-50"><label for="basic-url">Options</label></div>
        <form class="w-50" method="post" action="/login">

            <div class="input-group mb-3">
                <button type="submit" class="form-control" id="basic-url" aria-describedby="basic-addon3">Add
                    friend</button>
            </div>

            <div class="input-group mb-3">
                <button type="submit" class="form-control" id="basic-url" aria-describedby="basic-addon3">Remove
                    friend</button>
            </div>

            <div class="input-group mb-3">
                <button type="submit" class="form-control" id="basic-url" aria-describedby="basic-addon3">Send
                    messages</button>
            </div>

        </form>
        <ul>
            {% for data in datas %}
            <li>
                {{ data }}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>